/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
  }
  
  /* Style du corps */
  body {
    display: flex;
    background: #E6E6FA;
  }
  
  /* Titre */
  .titre {
    color: #8A2BE2;
  }
  
  /* Barre latérale */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 255px;
    background: white;
    color: #BEBFC5;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.2s;
    border-radius: 5px;
    gap: 10px;
    color: #BEBFC5;
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li i {
    color: #BEBFC5;
    transition: color 0.3s;
  }
  
  .sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .sidebar nav ul li a i {
    margin-right: 10px;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  .sidebar nav ul li a:hover {
    color: #8A2BE2;
  }
  
  .sidebar nav ul li a:hover i {
    color: #8A2BE2;
  }
  
  .sidebar nav ul li.active a {
    color: #8A2BE2;
  }
  
  .sidebar nav ul li.active a i {
    color: #8A2BE2;
  }
  
  .sidebar nav ul li a:active {
    color: #8A2BE2;
  }
  
  .sidebar nav ul li a:active i {
    color: #8A2BE2;
  }
  
  .sidebar nav ul li:hover,
  .sidebar .active {
    color: #8A2BE2;
    transform: scale(1.05);
  }
  
  /* Contenu principal */
  .content {
    flex: 1;
    padding: 20px;
    margin-left: 270px;
  }
  
  /* Lien */
  .link {
    text-decoration: none;
    color: #BEBFC5;
  }
  
  .link:hover {
    color: #8A2BE2;
    transform: scale(1.05);
  }
  
  /* Elément masqué */
  .hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Modale */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  /* Élément actif spécifique */
  #menu-creer-groupes {
    color: #8A2BE2;
    transform: scale(1.05);
  }
  
  /* Container du formulaire */
  
  .container-form {
    width: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
  }
  
  /* ============================= */
  /*           TABLEAU            */
  /* ============================= */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .table th,
  .table td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #8A2BE2;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .table tr:hover {
    background-color: #f3e8ff;
    transition: background-color 0.3s ease;
  }
  
  .table td {
    color: #333;
  }
  
  /* Pour donner des coins arrondis aux titres */
  .table th:first-child {
    border-top-left-radius: 8px;
  }
  .table th:last-child {
    border-top-right-radius: 8px;
  }
  