/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Sarabun',sans-serif;
    
}

/* Style du corps */
body {
    display: flex;
    background: #E6E6FA;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden; /* Ajouté pour supprimer le défilement vertical */
}

.titre {
    color: #8A2BE2;
}

/* Barre latérale */
.sidebar {
    position: fixed; /* Fixe la barre latérale à l'écran */
    top: 0; /* Positionne-la en haut de la page */
    left: 0; /* Positionne-la sur la gauche de la page */
    width: 255px;
    background: white;
    color: #BEBFC5;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

/* Titre dans la sidebar */
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

/* Liste des éléments dans la sidebar */
.sidebar nav ul {
    list-style: none;
    padding: 0;
}

/* Style des items de la sidebar */
.sidebar nav ul li {
    display: flex;
    align-items: center;  


    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.2s;
    border-radius: 5px;
    gap: 10px;
    color: #BEBFC5;
    margin-bottom: 10px;
}

.sidebar nav ul li i {
    color: #BEBFC5;
    transition: color 0.3s;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray; /* Couleur par défaut (gris) */
    padding: 10px;
    transition: color 0.3s ease;
}

/* Style des icônes des liens dans la sidebar */
.sidebar nav ul li a i {
    margin-right: 10px;
    color: inherit;
}

.sidebar nav ul li:hover,
.sidebar nav ul li.active {
    color: #8A2BE2;
}

.sidebar nav ul li:hover i,
.sidebar nav ul li.active i {
    color: #8A2BE2;
}

.sidebar nav ul li.active a i {
    color: #8A2BE2;
}

/* Effet lorsque vous relâchez le clic (mouse up) */
.sidebar nav ul li a:active {
    color: #8A2BE2;
}

.sidebar nav ul li a:active i {
    color: #8A2BE2;
}

/* Effet de survol sur l'élément */
.sidebar nav ul li:hover,
.sidebar .active {
    color: #8A2BE2;
    transform: scale(1.05);
}

/* Contenu principal */
.content {
    flex: 1;
    padding: 20px;
}

/* Lien dans le contenu */
.link {
    text-decoration: none;
    color: #BEBFC5;
}

.link:hover {
    color: #8A2BE2;
    transform: scale(1.05);
}

/* Effet de transition pour les éléments masqués */
.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

/* Modale (popup) */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}